body{
	width: 100%;
	margin: 0 ;
	background-color: #F8F8F8;
}
.container{
	flex-wrap: wrap;
	display: flex;
	border: 1px solid #f2f2f2;

}
.header{
	background-color: #fff ;
	width: 100%;
	height: 69px;
	font-family: Cardo;
	display: flex;
	padding-bottom: 36px;
}
.list{
	width: 473px;	
	height: 27px;
	display: flex;
	align-self: center;
}
.content a{
	display: flex;
	flex-direction: row;
	text-decoration: none;	
	display: inline;
	justify-content: space-around;
	padding: 15px;
	color: black;
	padding-left: 30px;
}
.block img{
 	width: 190px;
	height: 36px;
	display: flex;
	align-self: flex-end;
	align-items: flex-start;
	padding-top: 36px;
}
.header .block1{
	display: flex;
	justify-content: end;
	padding: 0 100px;
} 
.main{
	background-image: url(img/IMAGE.png);
	background-size: cover;
	height: 698px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.center{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	
}
.text{
	width: 807px;
	height: 77px;
	font-family: Arial;
	font-style: normal;
	font-size: 27px;
	text-align: center;
	line-height: 38px;
	color: #fff;
	letter-spacing: 0.2px;
	padding-bottom: 10px;
}
.button{
	background-color: #a9a8a600 ;
	color: #fff; 
	border: 1px solid #fff;
	width: 204px;
	height: 33px;
	font-size: 20px;
	font-family: cardo;
	border-image: inherit ;
}
.icons{
	width: 100%;
	height: 155px;
	display: flex;
	justify-content: space-around;
}
.class-icon{
	width: 1200px;
	display: flex;
	justify-content: space-around;
	padding-top: 40px;
	padding-bottom: 40px;
}
.icons p{
	width: 200px;
	display: flex;
	align-items: center	;
	justify-content: flex-start;
}
.icon{
	width: 250px;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.icon img{
	width: 50px;
	height: 50px;
	padding-right: 10px;
}
.imgs{
	width: 100%;
	display: flex;
	justify-content: stretch;
	padding-bottom: 86px;
}
.img{
	display: flex;
	width: 380px;
	flex-basis: 100%;
}
.img img{
	width: 100%;
}
.block-content1{
	width: 100%;
	height: 542px;
	padding-top: 29px;
	display: flex;
	justify-content: space-between;
	margin-left: 20px;
	flex-basis: 100px;
}
.block-content1_text{
	width: 450px;
	height: 542px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: flex-end;
	padding-right: 48px;
}
.block-content1_text b{
	font-family: 'Roboto',sans-serif;
}
.long-text{
	text-align: right;
	color: #525252;
}
.block-content1_text   input{
	font-family: 'Roboto';
	font-weight: 400;
}
.block-content1_text p{
	font-family: 'Cardo';
}
.button-shop{
	border: none;
	text-decoration: underline;
	background-color: #F8F8F8;
	font-size: 17px;
}
.block-content2{
	padding-top: 30px;
	display: flex;
	flex-basis: 100%;
}
.block-content2 b{
	font-family: 'Roboto', sans-serif;
}
.block-content2_text{
	padding-left: 48px;
	padding-top: 50px;
	position: relative;
}
.add{
	padding-bottom: 29px;
}
.content2_txt{
	color: #525252;
}
.block-content2_text input{
	font-family: 'Roboto';
	
}
.block-content2_text p{
	font-family: 'Cardo';
}
.italic{
	font-family: 'Cardo';
	color: #BC1414;
}
.block-content2_text img{
	position: absolute;
	bottom: 0;
}
.block-row{
	padding-top: 60px;
	width: 100%;

}
.block-row_text{
	text-align: center;
	font-family: 'Cardo';
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.block-row_text p{
	font-size: 18px;
}
.block-row_imgs{
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 37px;
	margin: 0 auto;
	position: relative;
}
.block-row_img1{
	position: relative;
	padding-left: 9px;
}
.block-row_img2{
	padding-left: 9px;
	position: relative;
}
.block-row_img3{
	padding-left: 9px;
	position: relative;
}
.inst1{
	display: flex;
	position: absolute;
	top: 20px;
	left: 250px;
	color: #fff;
}
.inst2{
	display: flex;
	position: absolute;
	top: 20px;
	color: #fff;
	left: 200px;
}
.inst3{
	display: flex;
	position: absolute;
	top: 20px;
	color: #fff;
	left: 220px;
}
.rectangle{
	width: 100%; 
	height: 11px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	padding-top: 20px;
	/*background-color: #424242;*/
}
.box{
	width: 9px;
	height: 9px;
	background-color: #000;
	margin-left: 5px;
}
.desc{
	width: 100%;
	height: 312px;
    margin-top: 53px;
    display: flex;
    flex-direction: column;
    font-family: 'Cardo';
    justify-content: center;
    text-align: center;
    margin-bottom: 44px;
}
.desc-txt i{
	width: 1242px;
	height: 148px;
	font-size: 20px;
	line-height: 30px;
	color: #020202;
;
}
.desc-txt_subtxt{
	font-size: 15px;
	line-height: 21px;
}
.desc-rectangle{
	width: 100%;
	height: 10px;
	margin-top: 20px;
	display: flex;
	align-items: center;
	justify-content: center;	
}
.big-box{
	width: 10px;
	height: 10px;
	background-color: #000;
}
.small-box{
	width: 7px;
	height: 7px;
	background-color: #000;
	margin-left: 7px;
}
.point{
	width: 3px;
	height: 3px;
	background-color: #000;
	margin-left: 9px;
	margin-right: 3px;
}
.block-excerpt{
	margin-top: 44px 0 0 0;
	width: 100%;
	display: flex;
}
.block1{
	width: 380px;
	height: 370px;
	padding: 50px 20px;
	text-align: center;
	font-family: 'Cardo';
	display: flex;
	flex-direction: column;
}
.block1 img{
	width: 95px;
	height: 95px;
	display: flex;
	align-self: center;
}
.excerpt_1 ,.excerpt_3{
	background-color: #FFF;
}
.block1 a{
	color: #000;
	font-size: 15px;
}
.features-content{
	margin: 0 10px;
	padding-top: 133px;
	width: 100%;
	height: 315px;
	text-align: center;
	background: #fff;
	display: flex;
	flex-direction: column;
}
.features-content p{
	font-family: 'Cardo';
	line-height: 26px ;
	font-size: 20px;
	/*padding-bottom: 41px;*/
}
.footer{
	width: 100%;
	height: 448px;
	margin: 0 auto;
	
}
.footer_bl{
	/*width: 100%;*/
	height: 344px;
	display: flex;
	position: relative;
	background: #E9E9E9;
	margin: 0 auto;
	padding: 50px 130px 0;
}
.footer_list{
	width: 200px;
	height: 270px;
	text-align: center;
	line-height: 20px;
	font-family: 'Cardo';
	/*margin: 0 auto;*/
}
.footer_list li{
	list-style: none;
	line-height: 30px;
	font-size: 15px;
}
.footer_rigthblock{
	width: 342px;
	height: 285px;
	padding:  0 165px 150px 160px;
	text-align: center;
}
.typebtn{
	background-color: #fff;
	border: 1px solid black;
	height: 21px;
	width: 237px;
	text-align: center;
	margin:  20px auto 11px;
}
.footer_rigthblock img{
	margin: 20px 20px 10px;
}
.footer_rigthblock p{
	line-height: 20px;
}
.socials{
	/*padding: 9px 70px 10px 90px;*/
	margin: 0 auto;
	width: 100%;
	height: 105px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background-color: #E9E9E9;
}
.socials img{
	width: 66px;
	height: 28px;
	padding-left: 8px;
}
